<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="general">
    <div class="bienvenida">
        <div class="logo">
            <img src="https://github.com/judelafuente/Medibot/blob/master/Mediboot/src/app/Imagenes/loguito.png?raw=true" alt="Logo" width="100%" height="100%">
        </div>
    </div>
    <div class="buttons">
        
        <button class="botones" mat-raised-button color="primary" routerLink="/registro" routerLinkActive="active" >Registrate</button>
        <br>
        <button  class="botones"mat-raised-button color="primary" routerLink="/login" routerLinkActive="active" >Inicia sesion</button>
        <br>
        <button class="botones" mat-raised-button color="primary" routerLink="/instrucciones" routerLinkActive="active" >Instrucciones</button>
        <br>
    </div>
   
</div>
