<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="general">
    <div class="bienvenida">
        <h1>Medibot</h1>
    </div>
    <div class="buttons">
        
        <button class="botones" mat-raised-button color="primary" routerLink="/registro" routerLinkActive="active" >Registrate</button>
        <br>
        <button  class="botones"mat-raised-button color="primary" routerLink="/login" routerLinkActive="active" >Inicia sesion</button>
        <br>
        <button class="botones" mat-raised-button color="primary" routerLink="/login" routerLinkActive="active" >Instruccones</button>
        <br>
    </div>
   
</div>
