<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="general">
    <div class="bienvenida">
        <div class="logo">
            <img src="https://github.com/judelafuente/Medibot/blob/master/Mediboot/src/app/Imagenes/loguito.png?raw=true" alt="Logo" width="100%" height="100%">
        </div>
    </div>

    <div class="contenido">
        <h2>Soporte</h2>
        <div class="entradaNumerica">
            <mat-form-field>
                <mat-label>Correo electrónico</mat-label>
                <input matInput type="email">
            </mat-form-field>
        </div>
        <br>

        <div class="entradaID">
            <mat-form-field>
                <mat-label>Medibot ID </mat-label>
                <input matInput type="text">
            </mat-form-field>
        </div>
        <br>

        <div class="cajaescritura">
            <mat-form-field>
                <mat-label>Cuéntanos tu problema!</mat-label>
                <textarea matInput placeholder="Ej: Tuve problemas al......."></textarea>
            </mat-form-field>
        </div>
        <br>

        <div class="boton">
            <button mat-raised-button color="primary">Enviar</button>
        </div>
    </div>
</div>


