<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="general">
    <div class="bienvenida">
        <div class="logo">
            <img src="https://github.com/judelafuente/Medibot/blob/master/Mediboot/src/app/Imagenes/loguito.png?raw=true" alt="Logo" width="100%" height="100%">
        </div>
    </div>

    <div class="contenido">
        <div class="Texto">
            <h1>PARA RECUPERAR SU CONTRASEÑA</h1>
            <h1>INGRESE SU CORREO ELECTRÓNICO</h1>
        </div>

        <div class="entradaNumerica">
            <mat-form-field>
                <mat-label>Correo electrónico</mat-label>
                <input matInput type="email">
            </mat-form-field>
        </div>
        <br>

        <div class="boton">
            <button mat-raised-button color="primary">Enviar verificacion</button>
        </div>
    </div>  

</div>

