<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="general">
    <div class="bienvenida">
        <div class="logo">
            <img src="https://github.com/judelafuente/Medibot/blob/master/Mediboot/src/app/Imagenes/loguito.png?raw=true" alt="Logo" width="100%" height="100%">
        </div>
    </div>
    <div class="buttons">
        <label>
            La aplicación MEDIBOT-APP le permite configurar notificaciones móviles con el fin de que no olvide consumir sus medicamentos, de igual manera, su medicamento será dispensado por el robot MEDIBOT, esta aplicación le permitirá recibir en su celular un recordatorio con su respectiva alarma y de igual manera robot hará su respectiva notificación; Por medio de estos cinco sencillos pasos podrá usar MEDIBOT APP: 
        </label>
        <h1></h1>
        <ul>
             <li>
                Cree su cuenta en MEDIBOT APP. 
             </li>  
             <li>
                Inicie Sesión en MEDIBOT APP.
             </li> 
             <li>
                Agregue una notificación.
             </li> 
             <li>
                Ingrese la información de su medicamento.
             </li> 
             <li>
                Configure su alarma.
             </li> 
        </ul>
          
        <button class="botones" mat-raised-button color="primary" routerLink="/login" routerLinkActive="active" >Login</button>
    </div>
   
</div>

