<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="general">
    <div class="bienvenida">
        <div class="logo">
            <img src="https://github.com/judelafuente/Medibot/blob/master/Mediboot/src/app/Imagenes/loguito.png?raw=true" alt="Logo" width="100%" height="100%">
        </div>
    </div>
    <div class="registro">
        <h2>Regístrate</h2>
        <mat-form-field class="inputUsuario">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Ej. jucalderon10"  [(ngModel)]="Usuario">
        </mat-form-field>
        <br>

        <mat-form-field class="inputCorreo">
            <mat-label>Correo</mat-label>
            <input matInput placeholder="Ej. jucalderon10@poligran.edu.co"  [(ngModel)]="email">
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
            <mat-label>Ingresa la contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <br>

        <button mat-raised-button color="primary" (click)="register()" routerLink="/gestionarCuenta">Crear cuenta</button>
        <button mat-raised-button color="primary" routerLink="/home" [style]="{'margin':'10px'}">Atras</button>
    </div>
</div>