*{
    box-sizing: border-box;
}

.general{
    width: 100%;
    height: 100%;
    background-image: url("https://github.com/judelafuente/Medibot/blob/master/Mediboot/src/app/Imagenes/Fondo.png?raw=true");
    background-size: cover;
    
}

.bienvenida{
    background-image: url("https://github.com/judelafuente/Medibot/blob/master/Mediboot/src/app/Imagenes/Sin%20t%C3%ADtulo.png?raw=true");
    width: 100%;
    height: 50%;
    background-size: inherit;
}
.logo{
    width: 40%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: #34495E;
}
.registro{
    width: 25%;
    text-align: center;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background-color: #EBEDEF ;
    border: 2px;
    border-radius: 5px;
}

@media only screen and (max-width: 840px){
    .general{
        width: 100%;
    }
    .bienvenida{
        width: 100%;
        height: 50%;
    }
    .logo{
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .registro{
        width: 70%;
        margin-top: 4%;
    }
}
